/* Resource Form styling */
.resourceForm {
  width: 100%;
  margin: -.7em 0em 2em 2em!important;
}

.input {
  width: 24em!important;
  padding: 1px 10px 1px 10px;
  font-size: .9em;
}

.input::placeholder {
  color: #4d4d4d!important;
  font-size: .9em;
}

label {
  color: #4d4d4d;
  font-size: .9em;
}


/* Styling for resource and submit button */
.resourceDropdown, .submitButton {
  height: 2em;
  width: 11em;
  text-align: left!important;
  color: white;
  font-size: .9em;
  background-image: linear-gradient(to right, #7e515e , #bb8796);
  padding: .3em .8em .5em .8em;
  border: none!important;
  transition: all .2s ease-in-out;
}

/* Hover effects for resource and submit button */
.resourceDropdown:hover, .submitButton:hover {
  transform: scale(1.05);
  font-size: .9em;
}

.resourceDropdown:hover {
  background-color: #7e515e;
  font-size: .9em;
}


.optionText {
  background-color: #7e515e;
  color: white;
  font-size: .9em;
}

.submitButton {
  margin: .5em 0em 0em 0em;
  font-size: .9em;
}

