/* Resource Form styling */
.resourceForm {
  max-width: 700px;
}

.input {
  width: 700px;
  padding: 1px 10px 1px 10px;
}

label {
  color: #4d4d4d;
  font-size: 20px;
}

/* Styling for resource and submit button */
.resourceDropdown, .submitButton {
  height: 50px;
  color: white;
  background-color: #7e515e;
  border: 5px groove white;
}

/* Hover effects for resource and submit button */
.resourceDropdown:hover, .submitButton:hover {
  height: 50px;
  color: white;
  background-color: #c0a0a9;
}

.optionText {
  color: white;
}

.submitButton {
  margin: 15px 0px 140px 0px;
}

