* {
  font-family: "Sulphur Point", sans-serif !important;
  color: #7a7a7a;
  font-size: 25px;
}

/* Jumbotron styling */
.jumbotron {
  border-radius: 0 !important;
  text-align: center!important;
}

/* Removes padding to overwrite jumbotron defaults */
#paddingRemover {
  padding-left: 0;
  padding-right: 0;
}

h1 {
  display: inline-block;
  width: 400px;
  padding: 10px;
  color: white;
  border: solid 4px white;
  transition: border-width 0.1s linear;
}

/* Styles h1 hover on jumbotron */
h1:hover {
  border-width: 6px;
  border-color: white;
  cursor: pointer;
}

/* Sets max width on just sidebar */
#sidebarWidth {
  max-width: 400px;
}

/* Footer Styling */
