* {
  font-family: 'Sulphur Point', sans-serif !important;
  color: #4d4d4d;
  font-size: 25px;
  word-spacing: -3px; /* Decreases space between words */
}

/* Removes underline on link during hover/click */
a:hover {
  text-decoration: none;
}

/* Jumbotron styling */
.jumbotron {
  border-radius: 0 !important;
  text-align: center !important;
  overflow-x: hidden;
}

/* Removes padding to overwrite jumbotron defaults */
#paddingRemover {
  padding-left: 0;
  padding-right: 0;
}

/* Footer Styling */
