/* Search Form styling */
.searchForm {
  max-width: 16em !important;
}

.search-form-control {
  width: 16em !important;
}

.searchInput {
  padding: 0.5em !important;
  font-size: 0.9em;
  margin-bottom: 0.2em !important;
}

.searchInput::placeholder {
  color: #4d4d4d !important;
  font-size: 0.8em;
}

.searchLabel {
  width: 16em;
  color: #4d4d4d;
  font-size: 0.9em;
  margin-top: 1.5em;
  margin-bottom: 0.4em;
  word-spacing: -0.2em;
}

/* Styling for search button */
.searchButton {
  height: 2em;
  width: 11em;
  text-align: left !important;
  color: white;
  font-size: 0.9em;
  background-image: linear-gradient(to right, #7e515e, #bb8796);
  padding: 0.3em 0.8em 0.5em 0.8em;
  border: none !important;
  transition: all 0.2s ease-in-out;
  margin-top: 0.4em;
  margin-bottom: 1em !important;
}

/* Hover effects for search button */
.searchButton:hover {
  transform: scale(1.05);
  font-size: 0.9em;
}

.optionText {
  background-color: #7e515e;
  color: white;
  font-size: 0.9em;
}

.searchButton {
  font-size: 0.9em;
  width: 5.5em;
}
