* {
  border-radius: 0px!important;
}

.card {
  background-color: white;
  max-width: 450px;
}

.card-body {
  max-width: 400px;
  display: inline-block;
  text-align: center;
}

.savedImage {
  width: 300px;
}

h3 {
  color: #4d4d4d;
  font-size: 35px;
}

.linkTitle {
  color: #4d4d4d;
  font-size: 25px;
}

.deleteLink {
  margin-left: 10px
}

.inProgressBtn {
  margin-bottom: 10px;
}

.viewLink, .inProgressBtn {
  margin-left: 10px;
  height: 50px;
  color: white;
  font-size: 24px;
  background-image: linear-gradient(to right, #7e515e , #bb8796);
  padding: 6px 12px 6px 12px!important;
  border: none!important;
  border-radius: 2px!important;
  transition: all .2s ease-in-out;
}

.viewLink {
  margin-top: 5px;
}

.viewLink:hover, .inProgressBtn:hover {
  transform: scale(1.05);
}

.deleteImage {
  width: 30px;
  height: 30px;
  margin: 20px 0px 0px 82px;
  transition: all .2s ease-in-out;
}

.deleteImage:hover {
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  transform: scale(1.05);
}