@keyframes grow-up {
  0% {
    transform: translate(0, 100%);
  }
  33% {
    transform: translate(0, 0);
  }
  67% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, -100%);
  }
}

@keyframes toast-popup {
  0% {
    transform: translate(0, 100%);
  }
  10% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 100%);
  }
}

.menuButtons {
  position: relative;
  top: 0.8em;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}

/* Adds space in between menu buttons */
#itemTextStyle {
  margin-top: 1em !important;
  text-decoration: none !important;
}

/* Toast styles */
#toast {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background: #22222f;
  color: white;
  font-size: 16px;
  transform: translate(0, 100%);
  z-index: 999;
}

#toast.popped {
  animation: toast-popup 6s;
}

/* button styles */
.buttonEffect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsl(342, 28%, 57%);
  border: none;
  color: white;
  font-size: 7vw;
  padding: 5px;
  box-shadow: 0 10px 0 0 #7e515e;
  font-weight: bold;
  transition: all 0.15s;
}

.buttonEffect:hover {
  transform: translate(-50%, -55%);
  box-shadow: 0 13px 0 0 hsl(342, 28%, 57%);
}

.buttonEffect:active {
  transform: translate(-50%, -35%);
  box-shadow: 0 0 0 0 hsl(342, 28%, 57%);
}

.buttonEffect:focus {
  outline: none;
}
