* {
  border-radius: 0px!important;
  line-height: 1.2em;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3em;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 550px;
  border-radius: 40px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.10), -5px -5px 10px 2px rgba(0,0,0,0.12);
  cursor: pointer;
  transition: 0.6s;
}

.card .savedImage {
  width: 280px;
  position: relative;
  left: 1em;
  top: .4em;
}

.linkTitle {
  max-width: 280px;
  position: relative;
  left: 1em;
  color: #4d4d4d;
  font-size: .8em;
  margin-top: 1.2em;
  text-align: center;
}

.card:hover {
  transform: scale(1.08, 1.08);
  box-shadow: 5px 5px 30px 2px rgba(0,0,0,0.10), 
  -5px -5px 30px 2px rgba(0,0,0,0.12);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

.inProgressBtn {
  background-image: linear-gradient(to right, #924c60, #a76880);
  border: none;
  color: white;
  padding: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8em!important;
  cursor: pointer;
  height: 60px;
  width: 200px;
  position: absolute;
  bottom: 35%;
  left: 17%;
}

.inProgressBtn:hover {
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
  transform: scale(1.05);
}

.viewLink {
  background-image: linear-gradient(to right, #924c60, #a76880);
  border: none;
  color: white;
  padding: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8em!important;
  cursor: pointer;
  height: 60px;
  width: 200px;
  margin-top: 20px;
  position: absolute; 
  bottom: 20%;
  left: 17%;
}

.viewLink:hover {
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
  transform: scale(1.05);
}


.deleteImage {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 1em;
  left: 45%;
  transition: all .2s ease-in-out;
}

.deleteImage:hover {
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  transform: scale(1.05);
}


@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
